html
{
font-family: 'Raleway', sans-serif;
padding: 40px;
}

header
{
position: relative;
}

.navm
{
 display: flex;
 justify-content: space-between;
}

ul
{
display: flex;
padding: 0;
list-style-type: none;
align-items: center;
}

ul li
{
margin: 0 20px;
font-size: 22px;
}

nav img
{
width: 150px;
height:auto.
}

#li1
{
color:#303030;   
}

#li2
{
color:#303030;
}

#li3
{
color:#0165FC;
font-weight:bold;
}

.titre
{
font-weight: bold;
font-size: 1.4em;

}
a:link 
{ 
text-decoration:none; 
} 

a:hover {
background-color:gainsboro;
color:grey
}

a:visited
{
color: none;
text-decoration:none;
}

.titreg
{
width: 100%;
font-weight: bold;
font-size: 1.4em;
margin-left: 2%;
}

.tbar
{
display: flex;
flex-flow: wrap;
margin-top: 2%;
margin-bottom: 2%;
align-items: center;
justify-content: center
}

.filtre
{
display: flex;
flex-flow: wrap;
align-items: center;
}

.filtre1
{
position: relative;
margin-top: 0px;
padding-top: 0px;
}

filtres2345
{
display:flex;
align-items: center;
border: solid #D9D9D9;
height: 2.5em;
border-radius: 31px;
margin-left: 2%;
}

.filtre2
{
text-align:start;
width: 200px;
margin-left: 2%;
}

.filtre3
{
width: 200px;
margin-left: 2%;
}

.filtre4
{
width: 200px;
margin-left: 2%;
}

.filtre5
{
width: 300px;
margin-left: 2%;
}

.bargeneral
{
display: flex;
flex-flow: wrap;
height: 50px;
}

.bar1
{
background: #F2F2F2;
border-bottom-left-radius: 16px;
border-top-left-radius: 16px;
width:50px;
}

.bar2
{
background: #FFFFFF;
width: auto
}

.srch
{
width:273px;
margin: 0px;
border-color:#FFFFFF;
font-weight: bold;
font-size: 1.25em;
}

.bar3
{
background: #0065FC;
border-bottom-right-radius: 16px;
border-top-right-radius: 16px;
width:130px;
align-items: center;
}

.bar33
{ 
justify-content: flex-end;
}

.info
{
justify-content: center;
align-items: center;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}

.b333
{
display:none;
}

.i
{
padding-bottom: 15px;
padding-right: 10px;
}

#hebergements 
{
display: flex;
justify-content: space-between;
flex-flow: column;
}
 
.hebergements__ville {
background: #F2F2F2;
display: flex;
flex-flow: wrap;
justify-content: space-around;
width: 100%;
border-radius: 31px;    
height: auto;
}

.card
{
background-color: white;
border-radius: 31px;
-webkit-box-shadow: 1px 1px 5px 0px black;
-moz-box-shadow: 1px 1px 5px 0px black;
box-shadow: 1px 1px 5px 0px black;
border: solid 6px white;

}

.logement 
{
width:100%;
/*    height: 28% ;*/
height:100%;
max-height:100%;
}

.tx h2
{
font-size: 1.1em;
}

.tx img
{
margin-bottom:3.5%
}

.logementa
{
display: flex;
width:28%;
height: 28%;
min-height:28%;
margin-bottom:3.5%;
}

.hebergements__populaires {
background: #F2F2F2;
width: 100%;
border-radius: 31px;    
flex-flow: column;
margin-top:100px
}

.aju
{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
width: 100%
}

.logementpop
{
width: 90%;
height: 200px;
flex-flow: wrap;
max-height:240px;
}

.logementpop h2
{
width: 100%;
margin-left: 5%;
margin-top: 0%;
padding-top: 0%;
}

.logementpop p
{
width: 100%;
margin-left: 5%;
margin-top: 0%;
padding-top: 0%;
}

.desc
{
margin-left: 0%;
}

.logement h2
{
margin:0px;
}

.logement p
{
margin: 0px
}

.card img
{
border-top-left-radius: 31px;
object-fit: cover;
}
 
.logement img
{
width: 100%;
height:150px;
}

.logementpop img
{
width: 40%;
height: 100%;
min-height: 100%
}

.hebergements__populaires .fa-star
{
color: blue;
margin-top:15% ;
}

.fa-star
{
color: blue;
}

.fas fa-chart-line
{
margin-right: 0px;
}

#activités
{
display: flex;
justify-content: space-between;
flex-flow: wrap;
}

.activitédiv
{
display: flex;
flex-flow: wrap;
justify-content: space-around;
width: auto;
border-radius: 31px;    
height: auto;
}

.activitédiv h2
{
margin-left: 5%;
}

.align
{
display: flex;
flex-flow: wrap;
justify-content: space-between;
width: 50%;   
height: 600px;
margin-top:50px;
}

#activités img
{
display: flex;
border-top-left-radius: 31px;
border-top-right-radius: 31px;
width: 100%;
object-fit: cover;
}

.actig
{
border-radius: 31px;
-webkit-box-shadow: 1px 1px 5px 0px black;
-moz-box-shadow: 1px 1px 5px 0px black;
box-shadow: 1px 1px 5px 0px black;
position: relative;
justify-content: space-between;
}

.acti1
{
width: 100%;
height:100%;
margin:5%;
}

.acti2
{
width: 100%;
height:100%;
margin-top: 5%;
}

.acti3
{
width: 100%;
height:100%;
margin-top: 7.5%;
}

.acti4
{
width:100%;
height:100%;
margin: 5%;
}

.acti5
{
width: 100%;
height:100%;
margin-top:5%;    
}

.acti6
{
margin-top: 7.5%;
width: 100%;
height:100%;
margin-bottom:5%;
}

.actil1
{
width: 95%;
height:100%;
margin-right:2.5%
}

.actil2
{
width: 95%;
height:55%;
margin-left:2.5%
}

.actil3
{
height:40%;
width:95%;
margin-left:2.5%
}

.actil4
{
width: 95%;
height:100%;
margin-right:2.5%
}

.actil5
{
width: 95%;
height:47.5%;
margin-left:2.5%
}

.actil6
{
margin-top: 2.5;
width: 95%;
height:47.5%;
}


.footdiv
{
background: #F2F2F2;
display: flex;
flex-flow: wrap;
justify-content: space-around;
width: 100%;  
height: auto;
padding-bottom: 2.5%;
}

.circle
{
border-radius: 50%;
width: 45px;
height: 45px;
background-color:#DEEBFF;
display:flex;
justify-content: center;
align-items: center;
}
.circlep
{
border-radius: 50%;
width: 25px;
height: 25px;
background-color:#DEEBFF;
display:flex;
justify-content: center;
align-items: center;
}

.divfooter
{
margin-top: 100px;
}